
/********************************** Global **********************************/

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 35px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.tag {
    padding: 7px;
    margin: 5px;
    border: solid 1px
}

.ml {
    border-color: #3F46AD;
    color: #3F46AD;
    background-color: #EFF0FF;
}

.ip {
    border-color: #178CCC;
    color: #178CCC;
    background-color: #F1F6F9;
}

.python {
    border-color: #EC2A70;
    color: #EC2A70;
    background-color: #F9EBF0;
}

.android {
    border-color: #1E8F53;
    color: #1E8F53;
    background-color: #C5FFE0;
}

.mongo {
    border-color: #F9B644;
    color: #F9B644;
    background-color: #F8EFE0;
}

.mysql {
    border-color: #8F5E1E;
    color: #8F5E1E;
    background-color: #FFE8CB;
}

.react {

}

.node {
    border-color: #FF2E2E;
    color: #FF2E2E;
    background-color: #FFD9D9;
}

.web {
    border-color: #A6D864;
    color: #A6D864;
    background-color: #E8FBD0;
}

/********************************** Navbar **********************************/

.header {
    border-bottom: #e2e3e5 1px solid;
    background-color: #F5F5F5;
    position: fixed;z-index: 555;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 5px 10px;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-transition: all 0.35s;
}

nav {
    padding: 15px;
}

#navbar_links li {
    padding: 10px
}

nav li:hover {
    color: #fff;
}

nav li a:hover {
    border: #6c757d 1px solid;
}

.links {
    color: #fff;
}

.section {
    min-height: 100vh;
}

/********************************** Landing **********************************/

#landing {
    padding-top: 100px;
    /*padding-bottom: 100px;*/
    position: relative;
    background-image: url('../assets/simple-codelines.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    /*min-height: 100vh;*/
}

#name {
    padding-top: 15px
}

#developer {
    padding-top: 5px;
}

#developer img {
    width: 25px;
    height: 25px;
}

#myDescription {
    /*font-size: 20px;*/
    padding-top: 70px;
}

#landing_content button {
    margin-top: 50px;
    background: #39B27B;
    color: #FFFFFF
}

#landing_content i {
    color: #6c757d;
    margin-top: 80px;
}

/********************************** Technologies **********************************/

#skills {
    padding-top: 100px;
    /*padding-bottom: 100px;*/
}

#skill_level {
    margin-top: 50px;
    margin-bottom: 50px;
}

.skill_level {
    width: 20px;
    height: 20px;
}

.skills {
    border: #EEEEEE solid 0.1px;
}

.skill_detail {
    display: inline;
}

.skill_img {
    width: 64px;
    height: 64px;
    margin-left: 15px;
    margin-bottom: 25px;
    background: #E0E0E0;
    padding: 10px;
}

.skill_level_img {
    position:absolute;
    bottom: 15px;
    width: 100%;
    padding-right: 15px;
}

.skill_level_img img {
    width: 32px;
    height: 32px;
}

.skills p {
    margin-top: 20px;
}

/********************************** Projects **********************************/

#projects {
    padding-top: 100px;
    /*padding-bottom: 100px;*/
}

.projectdepth {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.25) !important;
}

/********************************** About **********************************/

#about {
    padding-top: 100px;
}

/********************************** HireMe **********************************/

#hireme {
    padding-top: 100px;
}

#interested {
    font-size: 80px;
    color: #E0E0E0
}

/********************************** Footer **********************************/



/********************************** Media Queries **********************************/

 /*Extra small devices (portrait phones, less than 576px)*/
/* Iphone 6 Plus*/
@media (max-width: 575.98px) {

    h1 {
        font-size: 26px;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 15px;
    }

    p {
        font-size: 14px;
    }

    #hireme img {
        width: 250px;
        height: 250px;
    }

    #interested {
        font-size: 50px;
    }

}

 /*Small devices (landscape phones, 576px and up)*/
/* Iphone 6 Plus landscape*/
@media (min-width: 576px) and (max-width: 767.98px) {

    h1 {
        font-size: 27px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 15px;
    }

}

 /*Medium devices (tablets, 768px and up)*/
/* Amzon Kindle landscape and Ipad landscape*/
@media (min-width: 768px) and (max-width: 991.98px) {

    h1 {
        font-size: 28px;
    }

    h4 {
        font-size: 17px;
    }

    h5 {
        font-size: 17px;
    }

    p {
        font-size: 16px;
    }

}

 /*Large devices (desktops, 992px and up)*/
/* Ipad Mini 2 */
@media (min-width: 992px) and (max-width: 1199.98px) {

    #landing {
        background-image: url("../assets/6001x.png");
    }

    h1 {
        font-size: 30px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 17px;
    }

}

 /*Extra large devices (large desktops, 1200px and up)*/
/* Kindle */
@media (min-width: 1200px) {


}